language: ruby
before_install:
  - "cp config/cable.yml.sample config/cable.yml"
  - "cp config/database.yml.sample config/database.yml"
  - "cp config/secrets.yml.sample config/secrets.yml"
  - "cp config/sidekiq.yml.sample config/sidekiq.yml"
before_script:
  - "bundle exec rake db:create"
services:
  - mysql
rvm:
  - 2.4.2
