# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 021980ca553ce542fb22b2edf821fc64cb41cad04e713ab31ed2467ce6eddd5369f03a195f631092771484bb61e90353dc1d39f944c08759e695ecce0d7e6f80

test:
  secret_key_base: 39e3eb5b250c562b6a519b74cdea51b6b1358c36b69c24683cf1d5fcabe9a194882e732f1b7d4b5ae7d4c2ef4739054027617020cc1a1a17732948aaed96ad5c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
